<!DOCTYPE html>
<html class="h-full bg-stone-50">
  <head>
    <title>OdataSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full ">
  <%= render partial: 'layouts/header' %>
    <main class="container mx-auto mt-14 px-5 pb-12 " >
      <%= yield %>
    </main>
  </body>
</html>
